@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.launchpad-theme-okta-container {
  --main-font: 'Noto Sans', sans-serif;
  --accent-font: 'Saira', sans-serif;
  --bg-color: #0d1522;
  --main-color: #283b67;
  --accent-bg-color: #75d7cd;
  --accent-text-color: #15112c;
  --text-color: #ededed;
  --label-color: #c6caf8;

  .tb--background {
    background-image: url('https://launchpad.io/sites/default/files/styles/1920/public/media/images/2025-03/Dashboard-bg-jpg2-min.jpg') !important;
    background-color: var(--bg-color);
  }

  #okta-sign-in {
    &.no-beacon {
      .auth-content {
        padding-block-start: 0;
      }
    }
    &.auth-container {
      &.main-container {
        background: var(--main-color);
        color: var(--text-color);
        font-family: var(--main-font);
        font-weight: 400;
        border-radius: 4px;
        border-width: 0;

        .bg-helper {
          color: transparent;
        }
      }
      .okta-sign-in-header {
        border-bottom: 0;
      }
      h2,
      h3 {
        color: var(--text-color);
      }
      .okta-form-label {
        color: var(--label-color);
      }
      .button-primary,
      .button-primary.link-button-disabled {
        background: var(--accent-bg-color);
        border-radius: 6px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
        padding: 5.25px 16px;
        color: var(--accent-text-color);
        margin-block: 16px;
        line-height: unset;
        height: unset;
      }
      .button-primary:hover {
        transform: translate3d(0px, -2px, 0px);
      }
      .okta-form-input-field {
        background: rgba(255, 255, 255, 0.75);
        border-color: rgba(115, 138, 244, 0.2);
        border-radius: 4px;
      }
      .okta-form-subtitle {
        color: rgba(255, 255, 255, 0.75);
      }
      input[type='button'],
      input[type='submit'] {
        font-family: var(--accent-font);
        font-weight: 500;
      }
      input[type='submit']:focus {
        box-shadow: none;
      }
      .link,
      .link:active,
      .link:link,
      .link:visited {
        color: var(--accent-bg-color);
        text-decoration: none;
      }
      .link:hover {
        text-decoration: underline;
      }
      .mfa-okta-password {
        background-image: url('https://launchpad.io/sites/default/files/media/images/2025-10/password-lock_0.svg');
      }
      .mfa-okta-email {
        background-image: url('https://launchpad.io/sites/default/files/media/images/2025-10/mail.svg');
      }
    }
    .authenticator-row {
      justify-content: center;

      .authenticator-icon-container {
        margin-inline-end: 10px;
      }
      .authenticator-icon {
        background-size: 26px 26px;
        border: none;
        border-radius: initial;
      }
      .authenticator-button {
        .button {
          color: var(--accent-text-color);
          background: var(--accent-bg-color);
          box-shadow: none;
          border: none;
          font-weight: 500;
        }
      }
    }
    .auth-beacon {
      background-color: transparent;
      border-radius: initial;
      box-shadow: none;
    }
    .auth-beacon-border {
      border: 0;
    }
    .beacon-container {
      height: 52px;
      width: 52px;
      bottom: 0;
    }
    a,
    a:active,
    a:focus,
    a:link,
    a:visited {
      color: rgba(255, 255, 255, 0.75);
    }
    a:hover {
      text-decoration: none;
    }
    input[type='text']:focus {
      box-shadow: none;
    }
    .infobox-error:before {
      background-color: #ff4d4f;
    }
    .infobox-warning:before {
      background-color: #feaf8a;
    }
    .o-form-theme {
      padding-bottom: 0;
    }
    .o-form {
      .o-form-fieldset:last-child {
        margin: 0;

        &[data-se='o-form-fieldset-rememberMe'] {
          margin-top: -15px;
        }
      }
      .input-fix,
      .textarea-fix {
        height: unset;
        background: #1b2235;
        border: 1px solid #939393;
        input[type='number'],
        input[type='password'],
        input[type='tel'],
        input[type='text'],
        input[type='textbox'] {
          color: #fff;
        }

        &.o-form-has-errors {
          border-color: #ff8082;
        }
      }
      label {
        font-weight: 500;
      }
      .info-box {
        background-color: var(--main-color);
      }
    }
    .o-form-explain.o-form-input-error {
      color: #ff8082;
    }
    .error-16-red:before,
    .error-16-small:before {
      color: #ff8082;
    }
    .o-form-has-errors {
      .infobox-error {
        background-color: #53092e;
        border-color: #ff4d4f;
        color: #f58f88;

        span:before {
          color: var(--accent-text-color);
        }
      }
    }
    .auth-content {
      padding-block-start: 30px;
      padding-inline: 16px;
    }
    .o-form-head {
      font-family: var(--accent-font);
      font-weight: 500;
      font-size: 24px;
    }
    .button-link {
      font-family: 'Noto Sans';
      font-size: 14px;
      color: var(--accent-bg-color);
    }
    .siw-main-header {
      .beacon-container {
        top: -80px;
      }
    }
    .siw-main-view {
      .siw-main-body {
        .identifier-container:before {
          display: none;
        }
        .identifier {
          font-size: 14px;
        }
      }
      .infobox-warning {
        background-color: #501101;
        border-color: #713f33;
        color: #feaf8a;

        span:before {
          color: var(--accent-text-color);
        }
      }
      .infobox {
        a {
          color: #feaf8a;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .siw-main-footer {
      .footer-info {
        border-color: rgba(115, 138, 244, 0.2);

        .signup-info {
          margin: unset;

          .signup-link {
            display: block;
            padding-left: 0;

            .link {
              color: var(--accent-bg-color);
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .o-form-input-name-rememberMe {
    display: none !important;
  }
}
